.shared-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.69vw solid #1D0E0F;
  background-color: #453E42;
  height: 49.59vw;
}

.footer-navigation ul li {
  font-family: 'Orbitron', sans-serif;;
  color: #E4E6E7;
  list-style-type: none;
  font-size: 1.7vw;
  text-align: center;
  line-height: 4vw;
  transition: 300ms ease-out;
}

.footer-navigation li:hover {
  transform: scale(1.2);
  transition: 300ms ease-in;
 }

.footer-navigation ul {
  margin-top: 3vw;
  margin-left: -3.6vw;
}

.blue-footer-logo img {
  width: 50vw;
  height: auto;
}

.footer-social-links {
  margin-bottom: 12vw;
}