
.navbar-container ul li {
  font-family: 'Orbitron', sans-serif;;
  color: #E4E6E7;
  list-style-type: none;
  font-size: 1.7vw;
  text-align: center;
  line-height: 4vw;
  transition: 300ms ease-out;
}

.navbar-container li:hover {
  transform: scale(1.2);
  transition: 300ms ease-in;
 }

.navbar-container ul {
  margin-top: 3vw;
  margin-left: .7vw;
}