.home-container {
  background-color: #453E42;
  
}

.home-hero {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 8fr 3fr 4fr 4fr 1fr;
  grid-template-rows: 6fr 3fr 4fr 3fr 2fr;
  justify-self: stretch;
  border-bottom: 0.69vw solid #1D0E0F;
}

.home-hero-main-img {
  grid-column: 1 / 7;
  grid-row: 1 / 6;
  width: 100%;
}

.home-hero-nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: absolute;
}

.home-hero-text {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  position: absolute;
  color: #E4E6E7;
  text-align: center;
  margin-top: -1vw;
  margin-right: 4vw;
}

.home-hero-text h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.06vw;
}

.quote {
  font-size: 5.83vw;
}

.letter {
  color: #741714;
  font-size: 5.83vw;
}

.home-hero-text p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5vw;
  line-height: 2.78vw;
}

.join-btn-red {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  position: absolute;
  margin-top: 4.7vw;
  margin-left: -2vw;
}

.social-links {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  position: absolute;
}

.learn-together-section {
  border-bottom: 0.69vw solid #1D0E0F;
}

.learn-together-cards {
  display: flex;
  justify-content: space-between;
  padding: 3.47vw;
}