.lt-card {
  text-align: center;
}

.lt-card h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.06vw;
  color: #E4E6E7;
}

.lt-card img {
  width: 13.89vw;
  padding-top: 2.47vw;
}

.lt-card p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.67vw;
  color: #E4E6E7;
  line-height: 2.5vw;
  padding: 2.47vw 3.47vw;
}