.learn-hero {
  display: grid;
  background-color: #453E42;
}

.learn-title {
  font-family: 'Shadows Into Light', cursive;
  color: #E4E6E7;
}

.learn-quote {
  font-family: 'Orbitron', sans-serif;
}