.merch-container {
  height: 85vw;
  background-color: #453e42;
  border-bottom: 0.69vw solid;
}

.merch-hero {
  font-family: "Shadows Into Light";
  font-weight: 400;
  font-size: 3.889vw;
  color: #cbcbcb;
  display: grid;
  grid-template-columns: repeat(3, 33vw);
}
.merch-hero h1 {
  grid-column: 1/4;
  font-weight: 500;
  font-size: 6.889vw;
  text-align: center;
  margin-top: 2vw;
}

.merch-hero-text {
  font-family: Orbitron;
  font-size: 1.787vw;
  font-weight: 500;
  width: 40vw;
  margin-top: 20vw;
  margin-left: 9vw;
}
.merch-hero-image {
  margin-top: 10vw;
  margin-left: 20vw;
  width: 34.157vw;
}
