.navbar-container {
  background-color: #453E42;
  border-bottom: 0.49vw solid #1D0E0F;
}

.nb-items ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-right: 4vw;
  padding-top: .5vw;
}

.nb-items ul li a{
  text-decoration: none;
  color: #E4E6E7;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8vw;
}

.nb-items ul li {
  transition: 300ms ease-out;
}

.nb-items ul li:hover {
  transform: scale(1.2);
  transition: 300ms ease-in;
}

.nb-image {
  width: 33vw;
  margin-top: -10.8vw;
  margin-bottom: -12vw;
  margin-left: -8vw;
  margin-right: -8vw;
}